body{
    font-family: Arial, Helvetica, sans-serif;
    /*altura minima de VH (VH e como se fosse 100% da tela)*/
    min-height: 100vh;
    background-color: white;
    /*habilitar display flex*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.pokedex{
    background-color: white;
    display: flex;
    gap: 30px;
    padding: 30px;
}